<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: absolute;
width: 100%;
height: 138.44px;">
<div style="position: absolute;left: 50px;
top: 38px;">
    <img src="../../../assets/Liferay_Logo_Full_Color-Digital (1).svg" style=
    "width: 200px;
    height: 50px;
    left: 100px;">
</div>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="position: absolute;
    width: 500px;
    height: 45px;
    left: 300px;">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Feed de Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/formulario">Criar Evento</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Meus Eventos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Inscritos</a>
            <a class="dropdown-item" href="#">Criados</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>